<div class="container">
      <div class="jumbotron">

             <h1 class="display-8">About Me</h1>
            <br><hr><br>

            I  am a Computer Science graduate currently enrolled in a full time Software Engineering program at Centennial College and also working as a freelancer on Fiverr. I am a highly motivated and continuous learner with a mindset of innovation and perfection. I find myself comfortable with html, css, sql/no sql databases and writing code in C++, Java, Python and C# as well. I am familiar with mean and mern stack development which is highly in demand these days. I have worked as a trainee for 4 months and have 8 months of Software Development experience in Fortune 500 firm. My goal is to take technology and innovation to a higher level.<br><br>
        <a href="assets/Content/Sauhard_Resume_NewGrad.docx"><i class="fas fa-file-alt"></i> Resume </a>






    </div>
</div>

