<!-- JavaScript Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="padding-left:200px;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3 class="text-uppercase">Hobbies</h3><br>
        <p><b>Soccer</b>&nbsp;&nbsp;&nbsp;&nbsp;	Glory Glory Man United<br>
          <b>Rap</b>&nbsp;&nbsp;&nbsp;&nbsp;	Keep Your Bars Tight<br>
          <b>Music</b>&nbsp;&nbsp;&nbsp;&nbsp;Music	Jay-z Tupac and Biggie</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/services">Services</a>
            </li>
            <li>
              <a href="/project">Projects</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> SAUHARD</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>