<% include ./partials/header.ejs %>


     
      <div class="jumbotron">
        <center><h1 class="display-8">MISSION STATEMENT</h1></center>
      <hr>
      Computer Science graduate currently working as a freelancer.
       Highly motivated and continuous	learner with a mindset of innovation and perfection. 
      <br>
      <br>

      <center> o	A good listener and team worker with an ability to lead a team and communicate efficiently with peers.<br>
o	Ability to analyze a problem and find an optimal solution for the problem.<br><br><br>

<form action="/project" class="inline"><button class="btn"><i class="fa fa-folder"></i></button></form>

</center>


      
      </div>
    </div>

<% include ./partials/footer.ejs %>
